@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Outfit:wght@100..900&display=swap');

//text//

h1, h2, h3, p, a{
  font-family: "Handlee", Calibri, sans-serif;
}

label, input, button{
  font-family: "Outfit", Arial, sans-serif;
}

//colors//

$lighter-primary-color: #eca554;
$primary-color: #9f6a2f;
$darker-primary-color: #4f3517;
$secondary-color: #FFC84D;
$darkest-secondary-color: #5e4a20;
$secondary-background-color: #5dc6e7;

//elements//

body {
  margin: 0;
  font-family: sans-serif;
}

form{
    text-align: center;

    button{
        border-radius: 10px;
        border: 3px solid $darker-primary-color;
        padding: 5px;
        background-color: $secondary-color;
        color: $darkest-secondary-color;
        font-size: 1em;

        &:hover{
            background-color: $darkest-secondary-color;
            color: white;
            border: 3px solid $lighter-primary-color;
        }
    }

    div{
        padding: 10px;

        input{
            border-radius: 10px;
            height: 20px;
            box-shadow: none;
            border: 3px solid $darker-primary-color;
            outline: none;
            padding: 5px;
        }
    }
}

h2 {
    font-size: 2em;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

h2, label{
  color: white;
}

html{
  background-color: $secondary-background-color;
}

//classes//

.login-container{
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 20px;
  background-color: #9f6a2f;
  border-radius: 20px;
  max-width: 300px;
  box-shadow: 0px 20px 40px black;
}